
@font-face {
  font-family:Tangerine;
  src:url('/fonts/Tangerine-Regular.ttf');
  font-weight:normal;
  font-style:normal
}

@font-face {
  font-family:ShadowsIntoLight;
  src:url('/fonts/ShadowsIntoLight-Regular.ttf');
  font-weight:normal;
  font-style:normal
}

@font-face {
  font-family:SolberaImitationRemake;
  src:url('/fonts/Solbera Imitation Tweak.woff2');
  font-weight:normal;
  font-style:normal
}

@font-face {
  font-family:ScalySansRemake;
  src:url('/fonts/Scaly Sans.woff2');
  font-weight:normal;
  font-style:normal
}

@font-face {
  font-family:ScalySansSmallCapsRemake;
  src:url('/fonts/Scaly Sans Caps.woff2');
  font-weight:normal;
  font-style:normal
}

body {
  background-image: url("/images/page-background.jpg");
}

#logo {
  width: 400px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0;
  font-family: MrJeeves;
  font-weight: 900;
  color: #58180D;
  font-variant: small-caps;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
}

h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}

p {
  margin-bottom: 1em;
}

table {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 10px;
  padding: 20px;
}

.td-nobreakcenter {
  text-align: center;
  white-space: nowrap;
}

.td-nobreak {
  white-space: nowrap;
}

.td-center {
  text-align: center;
}


@media only screen and (min-width: 1025px) {
  .columns ul {
    -moz-column-count: 4;
    -moz-column-gap: 40px;
    -webkit-column-count: 4;
    -webkit-column-gap: 40px;
    column-count: 4;
    column-gap: 40px;
  }
  .columnssix ul {
    -moz-column-count: 6;
    -moz-column-gap: 40px;
    -webkit-column-count: 6;
    -webkit-column-gap: 40px;
    column-count: 6;
    column-gap: 40px;
  }
  .columnsthree ul {
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    column-count: 3;
    column-gap: 30px;
  }
  .cursedcols ul, .columnstwo ul{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .columns ul, .columnssix ul, .columnsthree ul {
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px;
  }
}
.columns ul, .columnsthree ul, .columnstwo ul, .columnssix ul {
  list-style: none;
  margin: 0 0 1.5em 0;
}

.columns li, .columnsthree li, .columnstwo li, .columnssix li {
  margin-bottom: 5px;
  break-inside: avoid !important;
}

.cursedcols li {
  margin-bottom: 5px;
  break-inside: avoid !important;
}

.noliststyle ul {
  list-style: none;
  margin: 0 0 1.5em 0;
}

.narrowcolumns ul, .narrowcolumns li, .narrowcolumns p {
  margin: 0;
  padding: 0;
}

.settingslabel {
  font-family: ScalySansRemake;
  vertical-align: middle;
  font-size: small;
}


/* ----------------------------------------------------------------------------- */

/* @media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
} */

.container {
  display: flex;
  font-family: 'ScalySansSmallCapsRemake', sans-serif; /* Fallback font if needed */
}

.list-container {
  flex-direction: column;
  margin-right: 20px; /* Adjust spacing as necessary */
  flex-shrink: 0; /* Prevent container from shrinking */
}

.list-container ul {
  list-style-type: none; /* Remove the dots in front of list items */
  padding-left: 0; /* Remove the space in front of the list */
}

.checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Add this line to create 2 columns */
  align-items: center; /* Add this line to center the items horizontally */
  justify-content: center; /* Add this line to center the items vertically */
}

.chart-container {
  flex-grow: 1; /* Take up remaining space */
}

.canvas {
  display: none; /* Hide charts initially */
}

li:hover {
  cursor: pointer;
  color: blue; /* Style for hover effect */
}

/* ----------------------------------------------------------------------------- */

/* Tables */
table tr:nth-child(odd) td {background-color: #b5e2f1;}

/* styled Tables */
.sTable {
  background-color: #b5e2f1;
  color: white;
  border-radius: 8px;
  margin-bottom: 15px;
  border-bottom: solid;
}

.sTable h4 { padding: 8px 0px 6px 10px ; }

.sTable th {
  background-color: #E5E8E8;
  color: black;
}

.sTable td {
  font-size: 0.95em;
}

.sTable tr:nth-child(odd) td {
  background-color: #E5E8E8;
  color: black;
}

.sTable tr:nth-child(even) td {
  background-color: white;
  color: black;
}

/* ----------------------------------------------------------------------------- */

/* Timeline */

.color1 { background-color: rgba(255, 99, 132, 0.3); }
.color2 { background-color: rgba(54, 162, 235, 0.3); }
.color3 { background-color: rgba(255, 235, 59, 0.3); }
.color4 { background-color: rgba(0, 0, 0, 0.3); }
.color5 { background-color: rgba(32, 201, 151, 0.3); }
.color6 { background-color: rgba(153, 102, 255, 0.3); }
.color7 { background-color: rgba(255, 159, 64, 0.3); }
.color8 { background-color: rgba(103, 58, 183, 0.3); }
.color9 { background-color: rgba(0, 150, 136, 0.3); }
.color10 { background-color: rgba(233, 30, 99, 0.3); }
.color11 { background-color: rgba(244, 67, 54, 0.3); }
.color12 { background-color: rgba(255, 206, 86, 0.3); }
.color13 { background-color: rgba(75, 192, 192, 0.3); }


/* Popup */

#imagePopup {
  position: fixed; /* or 'absolute' */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999; /* Large z-index */
  display: none; /* Initially hidden */
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* infoBox */

#infoBox {
  background-image: url("/images/parchment.jpg");
  background-repeat: repeat;
  background-size: cover;
  border: 2px solid #d4b783;
  padding: 20px;
  font-family: "Tangerine", cursive;
  font-size: 27px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
  max-width: 100%; /* Add max-width property */
}

#imageleft {
  position: relative;
  float: left;
  width: 100px;
  cursor: pointer;
  padding: 0 5px; /* Add padding 5px left and right */
}

#imageright {
  position: relative;
  float: right;
  width: 100px;
  cursor: pointer;
  padding: 0 5px; /* Add padding 5px left and right */
}
